.containProductImage {
  width: 100%;
  height: 267px;
  border: solid 1px #DCDCDC;

  img {
    max-height: 100%;
  }

  button {
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
  }
}