.product-list {
  margin-top: 10px;

  button {
    width: 40px;
    height: 40px;
  }

  .product-list .badge {
    margin-bottom: 0;
  }

  position: relative;

  img {
    border: 1ox solid #dcdcdc;
    border-radius: 5px;
    padding: 10px;
  }

  small {
    margin-top: 0;
    line-height: 15px;
    display: block;
  }

  button {
    position: absolute;
    right: 30px;
    padding: 1px 14px;
    font: 25px;
    margin-top: 20px;
  }
}