@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
  --primary: #33D092;
  --secondary: #fa543d;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Open Sans';
  letter-spacing: -0.03rem;
}

.bg-primary {
  background: var(--primary) !important;
}

.bg-secondary {
  background: var(--secondary) !important;
}

.btn-secondary {

  &:focus,
  &:active,
  &:disabled,
  &:hover {
    background: var(--secondary) !important;
  }

  background: var(--secondary) !important;
  border-color: var(--secondary) !important;

}


.btn-primary {

  &:focus,
  &:active,
  &:disabled,
  &:hover {
    background: var(--primary) !important;
  }

  background: var(--primary) !important;
  border-color: var(--primary) !important;

}

.box {
  background: #ffffff;
  box-shadow: 0px 0px 11px 6px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  display: inline-block;
  padding: 50px;

}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
input[type='text']:disabled,
input[type='email']:disabled,
input[type='password']:disabled,
input[type='date']:disabled {
  font-size: 15px;
  background: #f6f5f5;
  border: 0.5px solid #dcdcdc;
  outline: none;
  color: #626262;
}