.petshop-list {
  flex-flow: row nowrap;
  gap: 30px;
  width: 100%;
  overflow-x: auto;
}

.petshop-list-container {
  height: 300px;
  position: absolute;
  margin-bottom: 0;
  top: 91px;
  z-index: 999;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #FFFFFF 55.47%, rgba(255, 255, 255, 0) 100%);
}